<div class="landingPage jumbotron">
	{{#link-to "main"}}
	 	Start Making Notes
	{{/link-to}}
</div>

{{outlet}}

<img src="http://www.publicdomainpictures.net/pictures/70000/velka/notebook-ruled-paper-filofax.jpg" class="fit">
